<div class="row">
  <div class="small-2 large-3 large-offset-1 columns course-border">
    <div>
      <img {{bind-attr src=round.course.imageUrl}}>
    </div>
    <p>Last Course Completed:</p>
    {{courseName}}
    <div {{bind-attr class=parStatus}}>{{totalShooting}}</div>
    {{totalScore}}
  </div>
  <div class="small-2 large-3 large-offset-1 columns course-border">
    <div>
      <img {{bind-attr src=round.course.imageUrl}}>
    </div>
    <p>Last Course Completed:</p>
    {{courseName}}
    <div {{bind-attr class=parStatus}}>{{totalShooting}}</div>
    {{totalScore}}
  </div>
  <div class="small-2 large-3 large-offset-1 columns course-border">
    <div>
      <img {{bind-attr src=round.course.imageUrl}}>
    </div>
    <p>Last Course Completed:</p>
    {{courseName}}
    <div {{bind-attr class=parStatus}}>{{totalShooting}}</div>
    {{totalScore}}
  </div>
</div>
