<div class='well'>
  <header class='text-center'>
    <h3>{{courseName}}</h3>
    <h5>{{displayDate createdAt}}</h5>
  </header>
</div>

<div class='row round-show-table'>
  <div class='round-holes pull-left'>
    <ul>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      {{#each hole in holeNumbers}}
        <li><strong>{{hole}}</strong></li>
      {{/each}}

      <li><strong>T</strong></li>
      <li><strong>+ / -</strong></li>
    </ul>
  </div>

  <div class='round-scores pull-right'>
    {{#each scorecard in scorecards}}
      <div class='scorecard-column' {{bind-attr style='columnWidth'}}>
        <ul>
          <li>
            {{#if scorecard.hasUserAvatar}}
              <img {{bind-attr src='scorecard.userAvatarUrl'}} class='tiny-thumbnail u-circle'>
            {{else}}
              <img src='http://xcellis.com/wp-content/uploads/2013/09/avatar-placeholder.png' class='tiny-thumbnail u-circle' />
            {{/if}}
          </li>
          <li><strong>{{scorecard.userInitials}}</strong></li>
          {{#each turn in scorecard.turns}}
            <li {{bind-attr class='turn.parStatus'}}>{{turn.displayScore}}</li>
          {{/each}}
          <li><strong>{{scorecard.totalScore}}</strong></li>
          <li><strong>{{scorecard.formattedShooting}}</strong></li>
        </ul>
      </div>
    {{/each}}
  </div>
</div>
