<h2>{{courseName}}</h2>
<h4>{{displayDate createdAt}}</h4>

<table class="small-12" id="scorecard">
  <thead>
    <tr>
      <td></td>
      {{#each scorecard in scorecards}}
        <td>
          <strong>{{scorecard.userInitials}}</strong>
        </td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each row in scorecardsTable}}
    <tr>
      {{#each score in row}}
        <td>{{score}}</td>
      {{/each}}
    </tr>
    {{/each}}



    {{#each hole in holes}}
      <tr>
        {{hole.number}}
        {{#each player in hole.players }}
          <td>{{player.score}}</td>
        {{/each}}
      </tr>
    {{/each}}

  </tbody>

</table>
