<h2>Sign Up for Frolfr</h2>

<form>
  <label>* First Name</label>
  {{input type="text" value=firstName}}

  <label>Middle Name</label>
  {{input type="text" value=middleName}}

  <label>* Last Name</label>
  {{input type="text" value=lastName}}

  <label>* Email</label>
  {{input type="text" value=email}}

  <label>* Password</label>
  {{input type="text" value=password}}

  <label>* Password Confirmation</label>
  {{input type="text" value=passwordConfirmation}}

  <button type="submit" class="button expand">Sign Up</button>
</form>
