<h3 class='visible-xs text-center'>Reviews</h3>

{{#if filteredReviews}}
  <div class='text-center'>
    Average Rating: <h4>{{averageRatingRoundedToNearestHalf}} / 10</h4>
  </div>

  <div class='text-center'>
    {{#unless isAlreadyReviewed}}
      {{link-to "Add a New Review" 'reviews.new'}}
    {{/unless}}
  </div>
  <ul class="push-down list-unstyled">
    {{#each filteredReviews}}
      <li class='review'>
        <div class='review-header'>
          <div>
            {{#if user.hasAvatar}}
             <img class='u-circle tiny-thumbnail' {{bind-attr src='user.avatarUrl'}} />
            {{else}}
              <img class='u-circle tiny-thumbnail' src='http://xcellis.com/wp-content/uploads/2013/09/avatar-placeholder.png'>
            {{/if}}
            <div class='pull-right'>
              <strong class='pull-right'>{{rating}} / 10</strong>
            </div>
          </div>
          <div>
            <strong>{{userFullName}}</strong> reviewed on {{displayDate createdAt}}
          </div>
        </div>

        <div class='review-body'>
          {{post}}
        </div>
      </li>
    {{/each}}
  </ul>

{{else}}
  <p>There are no current reviews. {{link-to "Wanna add one?" 'reviews.new'}}</p>
{{/if}}
